assets/dist/
assets/libs/
assets/styles/**/*.css
assets/styles/**/*.html
config/**/*.js
config/**/*.map
env.json
gulpfile.js
gulpfile.map
logs/
node_modules/
npm-debug.log
server.js
server.map
src/**/*.js
src/**/*.map
