h1.red-text kinoglede
  span.text-muted .no
p Finn en kinopartner til filmen&nbsp;
  em du&nbsp;
  span vil se
a.btn.btn-primary.btn-lg(href='/matching') Finn kinovenn&nbsp;
  span.glyphicon.glyphicon-heart