div(ng-controller='ProfileController')
  div(ng-if='data.isLoggedIn()')
    div.row
      div.col-md-3
        h3 {{data.user.name}}
          small Profilside
    hr.black-border
    div(ng-if='data.user.movies.length')
      div.alert.alert-info
        strong Sortere filmliste:
        span  Filmlisten kan sorteres slik at du de filmene du liker best havner øverst
    div(ng-if='!data.user.movies.length')
      div.alert.alert-info
        p Velg kinofilmer fra listen under du vil se
    h3 Går på kino nå
    ul.media-list.list-inline
      li.media(ng-repeat='movie in data.movies')
        a(href='', ng-click='')
          img(ng-src='{{movie.imageUrl}}', width='50%', height='50%', alt='Bilde')
          h5 {{movie.title}}
    form(action='/users/me/session', method='POST')
      input.btn.btn-danger(type='submit', value='Logg ut')
  div(ng-if='!data.isLoggedIn()')
    p Vennlist logg inn for å se profilen din
