div(ng-controller='MatchingController', ng-init='init()')
  h1 Matching
    small  Velg kinopartner
  hr
  div(ng-if='!data.isLoggedIn()')
    p
      a(href='/innlogging') Logg inn
      |  for å komme i gang
  div(ng-if='showNoMoreMatches()')
    div No more matches
  div(ng-if='showMoreMatches()')
    div.row
      div.col-md-5.row
        div.col-md-5
          h4 {{currentMatch().name}}
          hr
          img(ng-src='{{currentMatch().fbPictureUrl}}', alt='Profilbilde mangler')
        div.col-md-6
          h4 Ønsker å se
          hr
          ul.list-group
            li.list-group-item 1. Foo
            li.list-group-item 2. Bar
            li.list-group-item 3. Baz
            li.list-group-item 4. Qux
      div.col-md-3.col-md-offset-1.well
        h4 Jeg er
        hr
        a.btn.btn-danger.btn-lg(href='', ng-click='approveMatch(currentMatch()._id)') Interessert ♥
        hr
        a.btn.btn-warning.btn.btn-lg(href='', ng-click='rejectMatch()') Ikke interessert ✖