doctype html
html(ng-app='kinoglede')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title kinoglede.no
    link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    != css('styles/main')
  body(ng-controller='AppController', ng-init='init()')
    div#wrap
      div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
          a.navbar-brand(href='/') kinoglede.no
          div.navbar-right.navbar-form
            a.btn.btn-success.btn-sm(ng-if='!data.user.id', href='/innlogging', ng-bind='"Logg inn"')
            a.btn.btn-primary.btn-sm(ng-if='data.user.id', href='/min-profil', ng-cloak)
              span.glyphicon.glyphicon-user
              |  Min profil
      div.jumbotron
        div.container(ng-view)

      //-div.jumbotron.slate-backround
      //-  div.container
      //-    h3.text-muted Last ned appen!
      script(src='/lib/jquery/jquery.min.js')
      script(src='/lib/angular/angular.min.js')
      script(src='/lib/angular/angular-route.min.js')
      script(src='/lib/angular/angular-resource.min.js')
      != js('scripts/app')
      != js('scripts/app-controller')
      != js('scripts/user-service')
      != js('scripts/matching/matching-controller')
      != js('scripts/matching/matching-service')
      div.push
    div#footer
      div.container
        p.text-muted 2014 | whirlwin